body {
  margin: 0; /* Elimina márgenes predeterminados del body */
  min-height: 100vh; /* Asegura que el body ocupe al menos el 100% del viewport */
  display: flex;
  flex-direction: column; /* Organiza el contenido en columna (header, main, footer) */
}
.contenedor {
    display: grid;
    place-items: center; /* Centra horizontal y verticalmente */
    flex-grow: 1; 
    background-image: url("../images/fondoInicio.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.contenido {
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;  /*Para alinear verticalmente los elementos*/
}

.texto{
    font-size: 24px;             
    font-family: 'Arial', serif; 
}

.nav-icon{
  width: 90px;       /* Ajusta según el tamaño de tu icono */
  height: 90px;      /* Ajusta según el tamaño de tu icono */
  position: fixed;  /* Posición fija en la pantalla */
  top: 15px;       /* Distancia desde la parte superior */
  left: 15px;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #8a9ad4; /* Color de fondo opcional */
  padding: 10px 0;
}

.btn-login-top {
    height: 50px;
    position: fixed;
    top: 24px;
    right: 32px;
    z-index: 1000;
    padding: 10px 22px;
    background: rgb(99, 98, 98);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    transition: background 0.2s;
}
.btn-login-top:hover {
    background: #0056b3;
}

    