body {
  background-color: #000000f5;
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espaciado interno */
}

header {
  display: flex; /* Distribución flexible */
  justify-content: space-between; /* Elementos separados */
  align-items: center; /* Alineación vertical */
  background: #333; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espaciado interno */
}

header h1 {
  font-size: 24px; /* Tamaño del título */
}

.icono-carrito {
  color: white; /* Color del icono */
  font-size: px; /* Tamaño del icono */
  text-decoration: none; /* Sin subrayado */
}

/* --- Navegación principal --- */
nav ul {
  list-style-type: none; /* Sin viñetas */
  background: #555; /* Fondo oscuro */
  padding: 10px; /* Espaciado interno */
}

nav ul li {
  display: inline; /* Elementos en línea */
  margin-right: 15px; /* Separación entre enlaces */
}

nav ul li a {
  color: white; /* Color de texto */
  text-decoration: none; /* Sin subrayado */
}
